pre-commit:
  enabled: true
  execute:
    ignore: 
      - src/Meyclub/Admin
      - app/
      - src/Meyclub/Core/PayzenBundle/Services/V5.php
    php-cs-fixer:
        enabled:    true
        levels:
            psr0:     true
            psr1:     true
            psr2:     true
            symfony:  true
        options: '-vvv'
    phpunit:
        enabled:        false
        random-mode:    true
    phplint:        
        enabled: true
        options: '-f'
    phpcs:
        enabled:    true
        standard:   
            PEAR:     false
            PSR1:     true
            PSR2:     true
            Squiz:    false
            PHPCS:    false
            Zend:     false
            MySource: false
            Symfony2: true
    phpmd:          true
    composer:       false
  message:
    right-message: 'HEY, GOOD JOB!!'
    error-message: 'FIX YOUR FUCKING CODE!!'
commit-msg:
    enabled: true
    regular-expression: '([#[0-9]{2,7}|\[#[0-9]{2,7}\]])\s.*'
