pre-commit:
  enabled: true
  execute:
    ignore: []
    php-cs-fixer:
        enabled:    true
        levels:
            psr0:     true
            psr1:     true
            psr2:     true
            symfony:  true
        options: '--dry-run'
    phpunit:
        enabled:        true
        random-mode:    true
    phplint:        true
    phpcs:
        enabled:    true
        standard:   
            PEAR:     true
            PSR1:     true
            PSR2:     true
            Squiz:    true
            PHPCS:    true
            Zend:     true
            MySource: true
            Symfony2: true
    phpmd:          true
    composer:       true
  message:
    right-message: 'HEY, GOOD JOB!!'
    error-message: 'FIX YOUR FUCKING CODE!!'
commit-msg:
    enabled:       true
    regular-expression: '#[0-9]{2,7}\s.*'
